*.log
*.trs
/basic
/basicpp
/channels
/channels-cornercases
/channels-fork
/duplicate
/echo-fork
/encrypted
/ephemeral
/import-export
/invite-join
/sign-verify
/trio
/*.[0123456789]
/channels_aio_fd.in
/channels_aio_fd.out*
