Makefile
Makefile.in
*.o
*.a
*.lo
*.la
*.orig
*~
.*
!.gitignore
!.gitmodules
!.astylerc
core
core.*
vgcore.*
tags
/config.*
/autom4te.cache
/aclocal.m4
/aminclude.am
/ar-lib
/build
/compile
/configure
/depcomp
/doxygen-doc
/install-sh
/missing
/libtool
/ltmain.sh
/py-compile
/test-driver
/stamp-h1
/INSTALL
/meshlink-*
/ChangeLog
