Makefile
Makefile.in
*.o
*.a
*.lo
*.la
*.orig
*.exe
*~
.*
!.gitignore
core
core.*
/config.*
/autom4te.cache
/aclocal.m4
/ar-lib
/aminclude.am
/compile
/configure
/depcomp
/install-sh
/missing
/libtool
/ltmain.sh
/py-compile
/test-driver
/stamp-h1
/INSTALL
